<form>

   <input type = "text" ng-model="obj.one" placeholder="noun">
   <input type = "text" ng-model="obj.two" placeholder="noun">
   <input type = "text" ng-model="obj.three" placeholder="verb-past tense">
   <input type = "text" ng-model="obj.four" placeholder="adverb">
   <input type = "text" ng-model="obj.five" placeholder="adjective">
   <input type = "text" ng-model="obj.six" placeholder="noun">
   <input type = "text" ng-model="obj.seven" placeholder="noun">
   <input type = "text" ng-model="obj.eight" placeholder="adjective">
   <input type = "text" ng-model="obj.nine" placeholder="verb">
   <input type = "text" ng-model="obj.ten" placeholder="adverb">
   <input type = "text" ng-model="obj.eleven" placeholder="verb past-tense">
   <input type = "text" ng-model="obj.twelve" placeholder="adjective">

   <button type="button" ng-click="submit()">Click</button>

</form>
